
* {
  margin: 0px;
  padding:0px;
}

.all {
  margin: 0px;
  padding: 0px;
  width:100%;
  height:auto;
  background: #081D3C;
}
.top {
  background-size:100%;
  width:100%;
  height:70px;
  border-bottom: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  background: #0A2346;
}
.Left {
  height:100%;
  width:30%;
  line-height:70px;
}

.Lf {
  float:left;
  height:25px;
  margin-right: 18.5px;
  text-align:center;
}
.Lf-img{
  width:10px;
  height:20px;
  margin: 3px 18px 0px 10px;
}
.Lf a{
  color:#FFFFFF;
}
.lf-before:before{
  content: "|";
  float: left;
  color:#FFFFFF;
  margin-right: 18.5px;

}
a{
 text-decoration:none;
}

.Lf a:hover{
 color:#3690EE;
}

.ct{
  width:600px;
  height:40px;
  color: #FFFFFF;
  text-align:center;
  background:url(../../public/images/bg_btk3.png) no-repeat center center ;
  background-size: inherit;
  padding: 15px 25px;
  margin-top: -4px;
}
.ct span{
  color:#FFFFFF;

}
.Content {
  background-size: 100% 80%;
  height:50px;
  width:700PX;
  display:flex;
  justify-content:center;
}
.right{
  height:100%;
  width:30%;
  line-height:70px;
}
.rt{
  text-align:center; 
  float:right;
}
.rt-text{
  margin-right: 18.5px;
}
.rt a{ 
  color:white;
}
 
.rt-text a:hover{
  color:#3690EE;
}

.span{
  margin-top:4px;
  height:25px;
  width:100px;

}
.time-day{
  margin-top: 21px;
  margin-left: 15px;
  width:78px;
  line-height: 14px;
  display: block;
  text-align: left;
}
.time-day span{
  margin-top:0px;
  font-size: 0.75px;
  color:#3690EE;
  display: block;
}

.time-text{
  line-height:70px;
  width:88px;
  display: inline-table;
}
.time-text span{
  color:#3690EE;
}
.full-screen-btn{
  width: 50px;
  display: inline-table;
  margin-top: 5px;
}

.full-screen-btn img{
  width: 28px;
}

  /* 中部区域 */


  .cL {
    width:100%;
    border: 1px solid #0A3E77;
    background: rgba(255,255,255,0.05);
    margin-bottom:40px;
    height: 287px;
    margin-top:20px;

  }

  .zhonbu {
    display: flex;
    justify-content: space-between;
    width:100%;
  }
  .cantaner-Left {
    height:auto;
    width:28%;
    margin-top:20px;
    padding: 0px 20px 0px 30px
  }
  .cantaner-1{
    width:44%;
    height:auto;
    margin-top:20px;
  }
  .contain-right{
    margin-top:20px;
    height:auto;
    width:28%;
    padding: 0px 30px 0px 20px;
  }
  .c-zhongj{
    width:100%;
    height: 678px;
    margin-top:20px;
    border: 1px solid #0A3E77;
    background: rgba(255,255,255,0.05);
  }
  .c-zhongj2{
    border: 1px solid blue;
    width:100%;
    height: 224px;
    margin-top:40px;
    border: 1px solid #0A3E77;
    background: rgba(255,255,255,0.05);
 }
  .cR{
    width:100%;
    border: 1px solid #0A3E77;
    background: rgba(255,255,255,0.05);
    height: 287px;
    margin-top:20px;
  }
  #cr-dr2{
    margin-top:40px;
  }
  #cr-dr3{
    margin-top:40px;

  }
  .img-2{
    width:10%;
    margin-left:20%;
  }
  .img-2 img{
   
    width:100%;
    margin-top:10px;
  }
  .box-top-bar{
    color:white;
    background:url(../../public/images/bg_btk1.svg) no-repeat;
    background-size: 100% 100%;
    width: 40%;
    height: 40px;
    margin-top:-20px;
    margin-left:26.5%;
    line-height:40px;
    text-align: center;
    font-size: 1.125rem;
  }

  .box-top-bar-center{
    color:white;
    background:url(../../public/images/bg_btk2.svg) no-repeat;
    background-size: 100% 100%;
    width: 40%;
    height: 40px;
    margin-top:-20px;
    margin-left:26.5%;
    line-height:40px;
    text-align: center;
    font-size: 1.125rem;
  }
  .box-top-bar img{
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    margin-bottom: 2px;
  }

.wb{

  width: 50%;
  text-align: center;
  
  
}
.wb span{
  color: white;
}

  .img-1{
    width: 20px;
    height: 20px;
    margin-top:-14px;
    margin-left:35%;
    border: 1px solid rgba(255,255,255,0.1);

  }
  .dj{
    height: 100px;
    width:92%;
    margin-left:4%;
    display:flex;
    justify-content: space-between;
    margin-top:20px;
  }
  .dj-box{
    width: 30%;
    height: 100px;
    background: rgba(255,255,255,0.05);
    text-align: center;
  }
  .dj-box>span {
    display: block;
    color: #FFFFFF;
    font-size: 0.75rem;
  }
  .dj-box>span:first-child {
    margin-top: 28px;
  }
  .dj-box i {
    font-style: normal;
    font-weight: bold;
    color: #36D8D8;
    font-size: 1.25rem;
    margin-right: 2px;
  }

  .dztg-1,.dztg-2{
    background: rgba(255,255,255,0.05);
    margin-left:4%;
    width:92%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
  }
  .dztg-1{
    margin-top:18px;
  }
  .dztg-2{
    margin-top:10px;

  }
  .dztg-1-1,.dztg-2-1{
    width:35%;
    height:80px;
    margin-left:3%;
  }
  .dztg-1-2,.dztg-2-2 {
    width: 60%;
    height:80px;
    margin-right:3%;
  }
  .img-max{
    margin-left:35%;
    border: 1px solid rgba(255,255,255,0.1);
    margin-left:18px;
    margin-right:18px;
    margin-top:30px;
    height:602px;
  }

  .sj-hz{
    margin-top:30px;
    margin-left:35%;
    border: 1px solid rgba(255,255,255,0.1);
    width: 95%;
    margin-left:2.5%;
    height:70%;
    display: flex;
    justify-content: space-between;
  }
  .guanL{
    width:90%;
    height:90%;
    display:flex;
    justify-content: space-between;
    margin-left:5%;
    margin-top:18px;
  }
  .gL-1,.gL-2,.gL-3{
    border: 1px solid rgba(255,255,255,0.1);
     width:100px;
     height:120px;
  }
.drhd-1,.drhd-2{
  background: rgba(255,255,255,0.05);
  width:92%;
  height: 100px;
  margin-left:18px;
  display: flex;
  justify-content: space-between;
}
  .drhd-1-1,.drhd-1-2,.drhd-2-1,.drhd-2-2{
    float:left;
    border: 1px solid rgba(255,255,255,0.1);
    margin-top:10px;
  }
.drhd-1{
  margin-top:18px;


}
  .drhd-2{
    margin-top:10px;

  }
.drhd-1-1,.drhd-2-1{
  width:35%;
  height:80px;
  margin-right:7px;
  margin-left:10px;

}
.drhd-1-2,.drhd-2-2{
  width: 60%;
  height:80px;
}
.chakan{
  width: 48px;
  height: 17px;
  margin-left:40%;
  margin-top:10px;
  font-size: 12px;
  color:#00FCF9;

}
.chakan2{
  margin-left:50%;
  color:#00FCF9;
  width: 48px;
  height: 17px;
  font-size: 12px;
  margin-top:10px;
}
.shanghui{
  border:1px solid white;
  width:100%;
  height:50%;
}
.sh-1,.sh-2,.sh-3,.sh-4{
  border:1px solid white;
  width:20%;
  height:90%;

}




